<div class="global">
  <div class="container">
    <h1>Check-In</h1>
    <div class="checkin-form">
      <form class="form" (ngSubmit)="fetchBookingDetails()">
        <div class="form-group">
          <!-- <label for="pnr">Enter PNR:</label> -->
          <input type="text" [(ngModel)]="pnr" name="pnr" placeholder="Enter the PNR number" required>
        </div>
        <button type="submit">Get Details</button>
      </form>
    </div>
    @if(Bookinginfo.length>0){
    @for(booking of Bookinginfo; track $index){
    <div class="booking-card">
      <div class="passenger-details">
        <p><strong>PNR Number:</strong> {{ booking.pnrNumber }}</p>
        <p><strong>Name:</strong> {{ booking.firstName }} {{ booking.lastName }}</p>
        <p><strong>Gender:</strong> {{ booking.gender }}</p>
        <p><strong>Email:</strong> {{ booking.email }}</p>
        <!-- <p><strong>Phone Number:</strong> {{ booking.phoneNumber }}</p> -->
        <p><strong>Flight Number:</strong> {{ booking.flightdetails.flight_number }}</p>
        <p><strong>Source:</strong> {{ booking.flightdetails.source }}</p>
        <p><strong>Destination:</strong> {{ booking.flightdetails.destination }}</p>
      </div>
      <div class="select-button">
        <button type="button" (click)="onClick(booking)">Check In</button>
      </div>
    </div>
    }
    }

  </div>
</div>
