<!-- <div class="about-us-container">
  <div class="scrolling-text-container">
    <div class="scrolling-text">

    </div>
  </div>
</div> -->


<div class="about-us-container">
  <div class="scrolling-text">
    <h1>About Us</h1>
    <section class="project-overview">
      <!-- <h2>Case Study Overview</h2> -->
      <p class="Welcome-para">
        Welcome to Aether Wings Airways, a comprehensive full-stack application designed to simplify the process of booking flights. This project leverages modern technologies and best practices in software development to provide a robust, secure, and user-friendly experience.
      </p>
      <h3>Key Features:</h3>
      <ul>
        <li><strong>Backend:</strong> The backend of this project is built using Java Spring Boot and follows a microservices architecture. Each service is designed to handle specific business functionalities, ensuring scalability and maintainability.</li>
        <li><strong>Database:</strong> We utilize MongoDB and MySQL for data storage, leveraging Spring Data JPA for efficient data management. MongoDB is used for handling large sets of unstructured data, while MySQL is used for structured data requirements.</li>
        <li><strong>Security:</strong> To secure our backend services, we implement Spring Security. All API calls are routed through an API Gateway, ensuring that our system is protected against unauthorized access.</li>
        <li><strong>Frontend:</strong> The frontend is developed using Angular, a powerful framework for building dynamic web applications. Angular’s inbuilt functions and tools are utilized to create a responsive and seamless user interface.</li>
      </ul>
    </section>
    <section class="about-developer">
      <h2>About the Developer</h2>
      <p>
        Hello, I am Ashutosh Yadav, the developer behind this Flight Booking System. I am a software engineer with a passion for building scalable and efficient applications. Here is a bit more about my background and experience:
      </p>
      <ul>
        <li><strong>Education:</strong> I completed my engineering degree in Information Technology from Thakur College of Engineering and Technology.</li>
        <li><strong>Experience:</strong> Throughout my academic and professional journey, I have gained extensive knowledge and hands-on experience in various technologies. This project showcases my skills in Java Spring Boot, microservices, MongoDB, MySQL, Spring JPA, Spring Security, and Angular.</li>
        <li><strong>Skills:</strong> I have a strong foundation in full-stack development and a keen interest in creating secure and high-performing applications. My experience with the technologies used in this project has equipped me with the ability to tackle complex challenges and deliver quality solutions.</li>
      </ul>
      <p>
        Thank you for visiting our Flight Booking System.
      </p>
    </section>
  </div>
</div>
